@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    section {}

    * {
        @apply font-primary;
        @apply box-border py-0 px-0 my-0 mx-0;
    }

    a {
        @apply hover:no-underline;
    }
}

@layer components {
    .nav-link {
        @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit lg:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center hidden;
    }

    .nav-link-mobile {
        @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
    }

    .button-cv-primary {
        @apply px-[2rem] hover:bg-yellow-400 transition-all duration-200 py-[1rem] text-[18px] font-bold uppercase bg-[#55e6a5] text-black flex items-center space-x-2;

    }

    .button-cv-icon-primary {
        @apply w-[1.6rem] h-[1.7rem] text-black;
    }
}

:root {
    --color-bg-one: #e8e8e8e8;
}

* {
    font-family: 'Poppins';
}

a,
a:hover {
    color: unset;
}

html,
body {
    background-color: var(--color-bg-one);
}