@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    section {
        @apply pb-1 sm:pb-2 md:pb-4 lg:pb-6 xl:pb-8;
    }

    main {
        @apply px-1 sm:px-3 md:px-6 lg:px-8 xl:px-10;
    }

    * {
        @apply box-border py-0 px-0 my-0 mx-0;
    }

    a {
        @apply hover:no-underline;
    }
}

:root {
    --color-bg-one: #e8e8e8e8;
}

* {
    font-family: 'Poppins';
}

a,
a:hover {
    color: unset;
}

html,
body {
    background-color: var(--color-bg-one);
}